<title>Noucoze</title>
  <style>  
    div{
      width: 700px;
      margin: 0px auto;
    }
  </style>
  
  
<head>
<body>

<div>
  <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSvYvI9sZN9Jy50wVXsU_U2L9BVVr96tCfSir6kukaEFvEdX1v9" width="600px">
  <br/><br/>
<form method="POST" action="{{ path('acceuil')}}">  
  <center><table>
  <tr><td> Login</td> 
  <td> <input type="login" name="login"></td> </tr> 
  <tr><td> Password</td> 
  <td> <input type="password" name="pass"></td> </tr> 
  <tr><td><td><input type="submit" name="valider" value="connexion"></td></td></tr>
</table></center>
</form>
</div>  
</body>  
